################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NewUI/v17/TestStore/0
*.vsidx
*.vsidx
*.vsidx
*.v2
*.1
.vs/NewUI/v17/.suo
.vs/NewUI/v17/.suo
.vs/NewUI/v17/.suo
