################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NewUI/v17/TestStore/0
*.vsidx
*.vsidx
*.vsidx
*.v2
*.1
.vs/NewUI/v17/.suo
.vs/NewUI/v17/.suo
.vs/NewUI/v17/.suo
*.v2
*.v2
*.v2
*.1
.vs/ProjectEvaluation/newui.projects.v6.1
.vs/NewUI/DesignTimeBuild/.dtbcache.v2
*.v2
.vs/NewUI/v17/.suo
*.1
.vs/NewUI/v17/.suo
*.1
*.1
.vs/NewUI/v17/.suo
.vs/NewUI/v17/.futdcache.v2
*.v2
.vs/NewUI/v17/.suo
*.v2
.vs/NewUI/v17/.suo
.vs/NewUI/v17/.suo
*.v2
