.headTable {
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  margin: 2rem auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
}

.eventsContainer {
  width: 90%;
  margin: 0 auto;
}
