body,
html {
  height: 100%;
}

.home {
  width: 100vw;
  height: 100vh;
}
.btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-logout {
  background-color: #332d61;
  color: white;
  border-radius: 10px;
}

.languages {
  background-color: #332d61;
  color: white;
  border-radius: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 50px; /* Footer height */
}
